:root {
    accent-color: #FDF5DF;
}

html {
    background: rgb(255,255,255);
    background: linear-gradient(273deg, rgba(255,255,255,1) 25%, rgba(253,245,223,1) 85%);
}

body {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("./img/portfolio-site-bgtransparent.png");
    background-position: -50px -35px;
    background-attachment: fixed;
}

.header-container {
    min-height: 10vh;
    background-color: #F92C85;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-between;
}

header :first-child {
    text-decoration: none;
    color: inherit;
}

.logo {
    border: 2px solid white;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s border;
    box-sizing: border-box;
    user-select: none;
    text-transform: uppercase;
    margin: 0 10px;
    color: white;
}

.logo:hover {
    border: 2px solid white;
}

.logo:hover .logo-title {
    color: #FDF5DF;
}

.logo-title {
    font-size: 2.0rem;
    line-height: 2.0rem;
    font-family: 'Bebas Neue', cursive;
    margin-right: 5px;
    transition: 1s color;
    text-shadow: 1px 1px white;
}

.logo-title::first-letter {
    color: #FDF5DF;
}

.logo-role {
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.container {
    max-width: 1000px;
    min-height: 80vh;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 11vh;
}

.main-box {
    padding: 5px 10px;
    text-align: center;
}

.main-box h1 {
    background-color: #FDF5DF;
    color: #585858;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    width: 30%;
    box-sizing: border-box;
    background-color: #FDF5DF;
    margin: 10px;
    border: 1px solid #FDF5DF;
    box-shadow: 4px 4px 25px rgba(172, 172, 172, 0.527);
}

.box img {
    width: 100%;
    background-color: white;
}

.box p {
    padding: 10px 20px;
    color: #5EBEC4;
}

.box span.box-content {
    display: none;
}

.box:hover  {
    cursor: pointer;
}

.box p::first-line {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5px;
    color: #5EBEC4;
}

p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
    color: #5EBEC4;
}

nav li {
    display: inline-block;
}

.nav-btn {
    padding: 10px 15px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: 1s color, 0.4s background-color, 0.4s border;
    user-select: none;
    text-transform: uppercase;
    min-width: 100px;
}

.nav-btn:hover {
    color: #F92C85;
    background-color: white;
    border: 1px solid white;
}

footer {
    text-align: center;
    color: rgb(153, 153, 153);
    margin-top: 10px;
    font-size: 0.8rem;
}

/* Responsive  Design */

.hide-desktop {
    display: none;
}

.hide-tablet {
    display: block;
}

.hide-mobile {
    display: block;
}

.hide-mobile-tablet {
    display: block;
}

/* Tablet */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .box {
        width: 45%;
    }
    .hide-desktop {
        display: block;
    }
    .hide-tablet {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
    .hide-mobile-tablet {
        display: none;
    }
    .header-container {
        border-bottom: 1px solid white;
    }
    header {
        justify-content: space-around;
    }
    nav {
        position: absolute;
        top: 58px;
        left: -105%;
        width: 100%;
        background-color: #F92C85;
        transition: 0.5s left;
        height: 100vh;
    }
    nav li {
        display: block;
        width: 100%;
    }
    .nav-btn {
        width: 100%;
        border: 0;
        border-bottom: 1px solid white;
        padding: 25px 5px;
    }
    .logo {
        padding: 0;
        border: 0;
        text-align: center;
    }
    .logo:hover {
        border: 0;
    }
}

/* Mobile */

@media screen and (max-width: 425px) {
    .box {
        width: 100%;
    }
    .hide-desktop {
        display: block;
    }
    .hide-tablet {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    .hide-mobile-tablet {
        display: none;
    }
    header {
        justify-content: space-around;
    }
    .logo {
        padding: 0;
        border: 0;
        text-align: center;
    }
    .logo:hover {
        border: 0;
    }
}